<div class="jumbotron">
    <h1>Our doctors</h1>
    <p>This is a list of our hospital doctors
    </p>
</div>
<button class="btn btn-edit-form btn-outline-success" (click)="addDoctor()">ADD DOCTOR</button>
<div class="row">
    <a *ngFor="let doctor of doctors" class="photo img-thumbnail" href='/doctors/{{doctor.Id}}'>
        <h4 class='doctor-name'>{{ doctor.FirstName}} {{doctor.LastName}}</h4>
        <h5>{{ doctor.Department }}</h5>
        <img src="http://localhost:55434/api/images/{{doctor.ImageId}}">
    </a>
</div>