<div class="jumbotron">
    <h1>Our doctors</h1>
    <p>This is a list of our hospital doctors
    </p>
</div>
<div class="row">
    <button class="btn btn-menu btn-outline-success" (click)="addDoctor()">ADD DOCTOR</button>
</div>
<div class="row">
    <div *ngFor="let doctor of doctors" class="photo img-thumbnail">
        <div class="col-xs-6 col-lg-4">
            <h3>{{ doctor.FirstName}} {{doctor.LastName}}</h3>
            <h5>{{ doctor.Department }}</h5>
            <img src="http://localhost:55434/api/images/{{doctor.ImageId}}">
            <a class="btn btn-secondary" (click)="navigate(doctor.Id)" role="button">View profile</a>
        </div>
    </div>
</div>