@using PhotoManager.Common

<div class="page-header">
    <h2>Photo gallery</h2>
</div>

@Html.Partial("Partial/Search")
@Html.Partial("Partial/Menu")

<div id="content" class="row"></div>
<div id="spinner" class="loader"></div>

<script>
    $(function() {
        $.loadPhotos("@Constants.PhotoAlbumTemplate", "/api/photos");
    });
</script>