@model PhotoManager.ViewModels.PhotoManagerViewModels.GallerySearchViewModel

<div class="page-header">
    <h2>Photo gallery</h2>
</div>

<div class="row form-group form-menu">
    <input class="form-control" id="KeyWord" name="KeyWord" />
    <button class="btn btn-menu btn-search-gallery">SEARCH</button>
    <button class="btn btn-menu btn-advanced-search">ADVANCED SEARCH</button>
</div>

<div id="content" class="row"></div>
<div id="spinner" class="loader"></div>

<script>
    $(function() {
        $.searchPhotos("@Model.KeyWord");
    });
</script>