@model PhotoManager.ViewModels.PhotoManagerViewModels.GallerySearchViewModel
@{
    ViewBag.Title = "Search";
}

<div class="page-header">
    <h2>Photo gallery</h2>
</div>

<div class="row form-group form-menu">
    <input class="form-control" id="KeyWord" name="KeyWord" />
    <button class="btn btn-menu btn-outline-primary btn-search-gallery">SEARCH</button>
    <button class="btn btn-menu btn-outline-secondary btn-advanced-search">ADVANCED SEARCH</button>
</div>

<div id="counter"></div>
<div id="content" class="row"></div>
<div id="spinner" class="loader"></div>

@section Scripts {
    @Scripts.Render("~/bundles/Gallery/Search")
    <script>
        $(function() {
            $.searchPhotos("@Model.KeyWord");
        });
    </script>
}