<script id="photoAlbumHeaderTemplate" type="text/html">
    <table>
        <tr>
            <td><input type="hidden" class="form-control" name="Id" value="{{Id}}"></td>
            <td><input type="hidden" class="form-control" name="OwnerId" value="{{OwnerId}}"></td>
        </tr>
        <tr>
            <td><label>Name</label></td>
            <td><input class="form-control" name="Name" value="{{Name}}"></td>
        </tr>
        <tr>
            <td><label>Description</label></td>
            <td><input class="form-control" name="Description" value="{{Description}}"></td>
        </tr>

        <tr>
            <td>
                <button class="btn btn-block btn-menu">SAVE CHANGES</button>
            </td>
        </tr>
    </table>
</script>
<script id="photoAlbumTemplate" type="text/html">
    {{#photos}}
    <div class="col-lg-4 text-center">
        <div class="photo img-thumbnail">
            <a class="photo-frame-bg d-flex" href="/photos/properties/{{Id}}">
                <img src={{ImageUrl}} class="image" />
            </a>
            <div class="photo-footer {{Selected}}" data-photo-id="{{Id}}">
                <div class="description">
                    <div>
                        <div class="photo-name">
                            {{Name}}
                        </div>
                        <div class="photo-date">
                            {{CreationDate}}
                        </div>
                    </div>
                    <div class="selected-icon">
                        <i class="fa fa-check"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/photos}}
</script>
