<script id="photoAlbumTemplate" type="text/html">
    {{#photos}}
    <div class="col-lg-4 text-center">
        <div class="photo img-thumbnail" data-photo-id="{{Id}}">
            <a class="photo-frame-bg d-flex" href="/photos/properties/{{Id}}">
                <img src="/api/image/{{ImageId}}" class="image" />
            </a>
            <div class="photo-footer" data-photo-id="{{Id}}">
                <div class="description">
                    <div>
                        <a class="photo-name" href="/photos/properties/{{Id}}">
                            {{Name}}
                        </a>
                        <div class="photo-date">
                            <label>{{ShootDate}}</label>
                        </div>
                    </div>
                    <div class="selected-icon select" data-photo-id="{{Id}}">
                        <i class="fa fa-check"></i>
                    </div>
                    <div class="selected-icon edit" data-photo-id="{{Id}}">
                        <i class="fa fa-edit"></i>
                    </div>
                    <div class="selected-icon remove" data-photo-id="{{Id}}">
                        <i class="fa fa-remove"></i>
                    </div>
                    <div class="selected-icon like {{Liked}}" data-photo-id="{{Id}}">
                        <i class="fa fa-thumbs-o-up"></i>
                        <label id="likesCount">{{Likes}}</label>
                    </div>
                    <div class="selected-icon dislike {{Disliked}}" data-photo-id="{{Id}}">
                        <i class="fa fa-thumbs-o-down"></i>
                        <label id="dislikesCount">{{Dislikes}}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/photos}}
</script>

<script id="photoAlbumHeaderTemplate" type="text/html">
    <input type="hidden" id="photoAlbumId" value="{{Id}}">
    <input type="hidden" id="currentUserId" value="{{CurrentUserId}}">
    <div class="page-header">
        <h2>
            <label type="hidden" id="photoAlbumName" value="">{{Name}}</label>
        </h2>
    </div>
    <div class="album-description">
        <h3><em>{{Description}}</em></h3>
    </div>
</script>