<script id="photoAlbumTemplate" type="text/html">
    {{#photos}}
    <div class="col-lg-4 text-center">
        <div class="photo img-thumbnail">
            <a class="photo-frame-bg d-flex" href="/photos/properties/{{Id}}">
                <img src={{ImageUrl}} class="image" />
            </a>
            <div class="photo-footer" data-photo-id="{{Id}}">
                <div class="description">
                    <div>
                        <div class="photo-name">
                            {{Name}}
                        </div>
                        <div class="photo-date">
                            {{CreationDate}}
                        </div>
                    </div>
                    <div class="selected-icon select" data-photo-id="{{Id}}">
                        <i class="fa fa-check"></i>
                    </div>
                    <div class="selected-icon like {{Liked}}" data-photo-id="{{Id}}">
                        <i class="fa fa-thumbs-o-up"></i>
                        <label id="likesCount">{{Likes}}</label>
                    </div>
                    <div class="selected-icon dislike {{Disliked}}" data-photo-id="{{Id}}">
                        <i class="fa fa-thumbs-o-down"></i>
                        <label id="dislikesCount">{{Dislikes}}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/photos}}
</script>

<script id="photoAlbumHeaderTemplate" type="text/html">
    <input type="hidden" id="photoAlbumId" value="{{Id}}">
    <div class="page-header">
        <h2>
            <label type="hidden" id="photoAlbumName" value="">{{Name}}</label>
        </h2>

    </div>
    <div class="album-description">
        <h3>{{Description}}</h3>
    </div>
</script>

<script id="photoAlbumEmptyTemplate" type="text/html">
    <div class="album-description form-menu form-group">
        <h4>There are no photos in this album yet</h4>
    </div>
</script>