<script id="albumsTemplate" type="text/html">
    {{#albums}}
    <div class="col-lg-4 text-center">
        <div class="album img-thumbnail">
            <a class="album-frame d-flex" href="/albums/album?id={{Id}}">
                <img src={{ImageUrl}} class="image" />
            </a>
            <div class="album-footer" data-album-id="{{Id}}">
                <div class="album-name">
                    {{Name}}
                </div>
                <div class="selected-icon">
                    <i class="fa fa-check"></i>
                </div>
            </div>
        </div>
    </div>
    {{/albums}}
</script>
<script id="photoAlbumEmptyTemplate" type="text/html">
    <div class="counter form-menu form-group">
        <h5>{{Counter}}</h5>
    </div>
</script>