<script id="albumsTemplate" type="text/html">
    {{#albums}}
    <div class="col-lg-4 text-center">
        <div class="album img-thumbnail" albumId="{{Id}}">
            <div class="photo-frame d-flex">
                <img src={{MainImage}} class="image" />
            </div>
            <div class="photo-footer">
                {{Name}}
            </div>
        </div>
    </div>
    {{/albums}}
</script>

<script id="photoAlbumTemplate" type="text/html">
    {{#photos}}
    <div class="col-lg-4 text-center">
        <div class="photo img-thumbnail" photoId="{{Id}}">
            <div class="photo-frame d-flex">
                <img src={{Image}} class="image" />
            </div>
            <div class="photo-footer">
                <p>{{Name}}</p>
            </div>
        </div>
    </div>
    {{/photos}}
</script>

<script id="photoTemplate" type="text/html">
    <img src={{Image}} class="image" />
</script>