<div class="row form-group form-menu">
    <input class="form-control" id="KeyWord" name="KeyWord" autofocus/>
    <button class="btn btn-menu btn btn-outline-primary btn-search ">SEARCH</button>
    <button class="btn btn-menu btn btn-outline-secondary btn-advanced-search">ADVANCED SEARCH</button>
</div>