<div class="row form-group form-menu">
    <input class="form-control" id="KeyWord" name="KeyWord" />
    <button class="btn btn-menu btn-search">SEARCH</button>
    <button class="btn btn-menu btn-advanced-search">ADVANCED SEARCH</button>
</div>