@{
    ViewBag.Title = "Photo";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<form action="/Photo/Add" method="post" enctype="multipart/form-data">
    <div id="content"></div>

    <label for="file">Upload Image:</label>
    <input type="file" class="btn" name="file" id="file" /><br><br>
    <br><br>
</form>

<script>
    $(function () {
        addPhoto();
    });
</script>