@model PhotoManager.ViewModels.PhotoManagerViewModels.PhotoEditModel
@using PhotoManager.Common

<div class="page-header">
    <h2>Edit photo</h2>
</div>

<form id="formEdit" method="post">
    <div id="content"></div>
    <div id="spinner" class="loader"></div>
</form>

<script>
    $(function () {
        $.editPhoto("@Model.Url");
    })
</script>