@using PhotoManager.Common
@{
    ViewBag.Title = "Photo";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<form id="formEdit" method="post">
    <div id="content"></div>
</form>

<script>
    $(function() {
        $.editPhoto("@Constants.PhotoEditTemplate", "/api/photos/"+@ViewBag.Id+"/album/"+@ViewBag.AlbumId);
    })
</script>