@model PhotoManager.ViewModels.PhotoManagerViewModels.PhotoDisplayViewModel
@using PhotoManager.Common
@{
    ViewBag.Title = "Photo";
}

<div id="photoHeader"></div>

<div id="content" class="row"></div>
<div id="spinner" class="loader"></div>

@section Scripts {
    @Scripts.Render("~/bundles/Photo/Index")
    <script>
        $(function () {
            $.loadPhoto("@Constants.PhotoTemplate", "/api/photos/" + "@Model.Id" + "/@Model.Size");
        });
    </script>
}