@using PhotoManager.Common
@{
    ViewBag.Title = "Photo";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div id="content" class="row"></div>

<script>
    $.loadPhoto("@Constants.PhotoTemplate", "/api/photos/"+@ViewBag.Id);
</script>