@using PhotoManager.Common

<div id="photoHeader"></div>

<div id="content" class="row"></div>
<div id="spinner" class="loader"></div>

<script>
    $.loadPhoto("@Constants.PhotoTemplate", "/api/photos/"+@ViewBag.Id);
</script>