@model PhotoManager.ViewModels.PhotoManagerViewModels.PhotoDisplayViewModel
@using PhotoManager.Common

<div id="photoHeader"></div>

<div id="content" class="row"></div>
<div id="spinner" class="loader"></div>

<script>
    $(function () {
        $.loadPhoto("@Constants.PhotoTemplate", "/api/photos/" + "@Model.Id" + "/@Model.Size");
    });
</script>