@model PhotoManager.ViewModels.PhotoManagerViewModels.PhotoDisplayViewModel
@using PhotoManager.Common
@{
    ViewBag.Title = "Photo properties";
}

<div id="photoHeader"></div>

<form>
    <div id="content" class="row"></div>
    <div id="spinner" class="loader"></div>
</form>

@section Scripts {
    @Scripts.Render("~/bundles/Photo/Index")
    <script>
        $(function() {
            $.loadPhoto("@Constants.PhotoPropertiesTemplate", "/api/photos/" + "@Model.Id" + "/@Model.Size");
        });
    </script>
}