<script id="albumsTemplate" type="text/html">
    {{#albums}}
    <div class="col-lg-4 text-center">
        <div class="album img-thumbnail">
            <a class="album-frame d-flex" href="/albums/album?id={{Id}}">
                <img src={{ImageUrl}} class="image" />
            </a>
            <div class="album-footer">
                <div class="album-name">
                    {{Name}}
                </div>
            </div>
        </div>
    </div>
    {{/albums}}
</script>
<script id="photoAlbumEmptyTemplate" type="text/html">
    <div class="album-description form-menu form-group">
        <h4>There are no albums yet</h4>
    </div>
</script>