<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <services>
      <service name="Microsoft.ServiceModel.ImageViewer.ImageViewer">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/ImageViewer/Service"/>
          </baseAddresses>
        </host>
        <endpoint address="/ImageViewer" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IImageViewer"
                  contract="Microsoft.ServiceModel.ImageViewer.Contracts.ServiceContracts.IImageViewer" name="BasicHttpBinding_IImageViewer"/>
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IImageViewer" transferMode ="Streamed" maxReceivedMessageSize="1025024"/>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>