<button id="btnBack" class="btn btn-warning btn-block btn-num">Назад</button>

<script>
    $("#btnBack").click(function (event) {
        event.preventDefault();
        history.go(-1);
    });
</script>
