@using CacheMachine.Common
<button id="btnBack" class="btn btn-warning btn-block">@Resources.Back</button>

<script>
    $("#btnBack").click(function (event) {
        event.preventDefault();
        history.go(-1);
    });
</script>
