@{
    ViewBag.Title = "Pin Code";
}

<h3>@ViewBag.Message</h3>
@model string

<content id="pinCodeContent">
    @using (Html.BeginForm("OperationResult", "Home", FormMethod.Get, new { @class = "form-signin" }))
    {
        <h2 class="form-signin-heading ">Cнятие денег</h2>
        @Html.Partial("Numpad/Numpad", string.Empty)
        @Html.Hidden("id", Model)
        <button id="btnOk" class="btn btn-primary btn-block btn-num">OK</button>
        @Html.Partial("ExitButton")
    }
</content>
