@{
    ViewBag.Title = "Pin Code";
}
@using CacheMachine.Common
@using CacheMachine.ViewModels
<content id="pinCodeContent">
    @using (Html.BeginForm("OperationResult", "Home", FormMethod.Post, new { @class = "form-cache-machine" }))
    {
        <div class="page-header">
            <h2>@Resources.GetCache</h2>
        </div>
        @Html.Partial("Numpad/_Numpad", new NumDisplayViewModel { Id = "inputSum", Mask = string.Empty })
        <div class="btn-menu">
            @Html.Partial("_ExitButton")
        </div>
    }
</content>