@{
    ViewBag.Title = "Error";
}
<form class="form-cache-machine">
    <div class="alert alert-danger">
        <strong>Error:</strong> @ViewBag.Message.
    </div>
    <div class="btn-menu">
        @Html.Partial("BackButton")
    </div>
    
</form>

