@using CacheMachine.Common
<div id="content">
    @using (Html.BeginForm("CheckCardNum", "Home", FormMethod.Get, new { @class = "form-signin" }))
    {
        //TODO: separate Numpad and all the connected PartialViews correctly
        <h2 class="form-signin-heading ">@Resources.InputCardNum</h2>
        @Html.Partial("Numpad/Numpad", Constants.CardNumMask)
        @Html.Partial("OkButton")
    }
</div>