@using CacheMachine.Common
<div id="content" class="container">
    @using (Html.BeginForm("CheckCardNum", "Home", FormMethod.Post, new { @class = "form-cache-machine" }))
    {
        //TODO: separate Numpad and all the connected PartialViews correctly
        <div class="page-header">
            <h2>@Resources.InputCardNum</h2>
        </div>
        @Html.Partial("Numpad/Numpad", Constants.CardNumMask)
    }
</div>
<script>
    $(document).ready(function () {
        initNumpad("inputField", "card-num");
    });
</script>