@{
    ViewBag.Title = "Pin Code";
}

@using CacheMachine.Common

<content id="pinCodeContent">
    @using (Html.BeginForm("CheckPinCode", "Home", FormMethod.Post, new { @class = "form-signin" }))
    {
        <h2 class="form-signin-heading ">@Resources.InputPinCode</h2>
        @Html.Partial("Numpad/Numpad", Constants.PinCodeMask)
        @Html.Partial("OkButton")
        @Html.Partial("ExitButton")
    }
</content>
