@using PhotoManager.Common
@{
    ViewBag.Title = "Home Page";
}

<div class="row form-group search-bar">
    <input class="form-control" id="KeyWord" name="KeyWord" />
    <button class="btn btn-search">Search</button>
</div>

<div id="content" class="row"></div>

<script>
    $.loadAlbums("@Constants.AlbumsTemplate");
</script>