@{
    ViewBag.Title = "Home Page";
}
<form>
    <div class="row form-group search-bar">
        <input class="form-control" id="searchField" />
        <button class="btn btn-search">Search</button>
    </div>
</form>

<div id="content" class="row"></div>