<div class="page-header">
    <h2>Albums</h2>
</div>

@Html.Partial("Partial/Search")

<div id="content" class="row"></div>
<div id="spinner" class="loader"></div>

@section Scripts {
    @Scripts.Render("~/bundles/Home/Index")
}