@model CacheMachine.ViewModels.NumDisplayViewModel
<div class="numpad">
    @Html.Partial("Numpad/_NumDisplay", Model)
    @Html.Partial("Numpad/_NumKeyboard", Model.Id)
    @Html.Partial("_OkButton")
</div>