@using CacheMachine.Common
@model int?
<div class="row num-row">
    @{
        if (Model == 0)
        {
            <div class="col-lg-4">
            </div>
            @Html.Partial("Numpad/NumButton", 0)
            <div class="col-lg-4">
                <button class="btn btn-light btn-lg btn-clear" id="btnClear">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        }
        else
        {
            for (var i = Model; i < Model + 3; i++)
            {
                @Html.Partial("Numpad/NumButton", i)
            }
        }
    }
</div>
