<div class="row">
</div>
<button class="btn btn-menu btn-outline-success" (click)="addPatient()">ADD PATIENT</button>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Edit patient card</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" novalidate [formGroup]="myform" (ngSubmit)="onUpload()" [ngClass]="{
            'has-danger': myform.errors,
            'has-success': myform.valid
       }">
            <div class="row">
                <div class="col-5">
                    <div class="row input-item">
                        <div class="form-group" [ngClass]="{
                  'has-danger': FirstName.invalid && (FirstName.dirty || FirstName.touched),
                  'has-success': FirstName.valid && (FirstName.dirty || FirstName.touched)
             }">
                            <div class="form-control-feedback" *ngIf="FirstName.errors && (FirstName.dirty || FirstName.touched)">
                                <p *ngIf="FirstName.errors && FirstName.errors.required">First name is required</p>
                            </div>
                            <label>First Name</label>
                            <input class="form-control" formControlName="FirstName" required>
                        </div>
                    </div>
                    <div class="row input-item">
                        <div class="form-group" [ngClass]="{
                  'has-danger': LastName.invalid && (LastName.dirty || LastName.touched),
                  'has-success': LastName.valid && (LastName.dirty || LastName.touched)
             }">
                            <div class="form-control-feedback" *ngIf="LastName.errors && (LastName.dirty || LastName.touched)">
                                <p *ngIf="LastName.errors && LastName.errors.required">Last name is required</p>
                            </div>
                            <label>Last Name</label>
                            <input class="form-control" formControlName="LastName" required>
                        </div>
                    </div>
                    <div class="row input-item">
                        <div class="form-group" [ngClass]="{
                  'has-danger': MiddleName.invalid && (MiddleName.dirty || MiddleName.touched),
                  'has-success': MiddleName.valid && (MiddleName.dirty || MiddleName.touched)
             }">
                            <div class="form-control-feedback" *ngIf="MiddleName.errors && (MiddleName.dirty || MiddleName.touched)">
                                <p *ngIf="MiddleName.errors && MiddleName.errors.required">Middle name is required</p>
                            </div>
                            <label>Middle Name</label>
                            <input class="form-control" formControlName="MiddleName" required>
                        </div>
                    </div>
                    <div class="row input-item">
                        <div class="form-group" [ngClass]="{
                                'has-danger': Email.invalid && (Email.dirty || Email.touched),
                                'has-success': Email.valid && (Email.dirty || Email.touched)
                           }">
                            <label>Email</label>
                            <input type="email" class="form-control" formControlName="Email" required>
                            <div class="form-control-feedback" *ngIf="Email.errors && (Email.dirty || Email.touched)">
                                <p *ngIf="Email.errors && Email.errors.required">Email is required</p>
                            </div>
                        </div>
                    </div>
                    <div class="row input-item">
                        <div class="form-group" [ngClass]="{
                                'has-danger': Gender.invalid && (Gender.dirty || Gender.touched),
                                'has-success': Gender.valid && (Gender.dirty || Gender.touched)
                           }">
                            <label>Gender</label>
                            <select (change)="selectedGenderChanged($event.target.value)" class="form-control">

                                <option *ngFor="let gender of genders" value={{gender.Id}} [selected]="gender.Id === selectedPatient.GenderId">
                                  {{gender.Name}}
                                </option>
                              </select>
                        </div>
                    </div>
                    <div class="row input-item">
                        <div class="form-group" [ngClass]="{
                                'has-danger': Education.invalid && (Education.dirty || Education.touched),
                                'has-success': Education.valid && (Education.dirty || Education.touched)
                           }">
                            <label>Education</label>
                            <select (change)="selectedEducationTypeChanged($event.target.value)" class="form-control">

                                <option *ngFor="let educationType of educationTypes" value={{educationType.Id}} [selected]="educationType.Id === selectedPatient.EducationId">
                                  {{educationType.Name}}
                                </option>
                              </select>
                        </div>
                    </div>
                </div>
                <div class="col-5">
                    <div class="row input-item">
                        <div class="form-group" [ngClass]="{
                                'has-danger': DisabilityGroup.invalid && (DisabilityGroup.dirty || DisabilityGroup.touched),
                                'has-success': DisabilityGroup.valid && (DisabilityGroup.dirty || DisabilityGroup.touched)
                           }">
                            <label>Disability Group</label>
                            <select (change)="selectedDisabilityGroupChanged($event.target.value)" class="form-control">

                                <option *ngFor="let disabilityGroup of disabilityGroups" value={{disabilityGroup.Id}} [selected]="disabilityGroup.Id === selectedPatient.DisabilityGroupId">
                                  {{disabilityGroup.Name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row input-item">
                        <div class="form-group" [ngClass]="{
                                'has-danger': InformationSource.invalid && (InformationSource.dirty || InformationSource.touched),
                                'has-success': InformationSource.valid && (InformationSource.dirty || InformationSource.touched)
                           }">
                            <label>Information Source</label>
                            <select (change)="selectedInformationSourceChanged($event.target.value)" class="form-control">

                                <option *ngFor="let informationSource of informationSources" value={{informationSource.Id}} [selected]="informationSource.Id === selectedPatient.InformationSourceId">
                                  {{informationSource.Name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row input-item">
                        <div class="form-group" [ngClass]="{
                                'has-danger': HabitationMember.invalid && (HabitationMember.dirty || HabitationMember.touched),
                                'has-success': HabitationMember.valid && (HabitationMember.dirty || HabitationMember.touched)
                           }">
                            <label>Habitation Member</label>
                            <select (change)="selectedHabitationMemberChanged($event.target.value)" class="form-control">

                                <option *ngFor="let habitationMember of habitationMembers" value={{habitationMember.Id}} [selected]="habitationMember.Id === selectedPatient.HabitationMemberId">
                                  {{habitationMember.Name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row input-item">
                        <div class="form-group" [ngClass]="{
                                'has-danger': Policlinic.invalid && (Policlinic.dirty || Policlinic.touched),
                                'has-success': Policlinic.valid && (Policlinic.dirty || Policlinic.touched)
                           }">
                            <label>Policlinic</label>
                            <input class="form-control" formControlName="Policlinic" required>
                            <div class="form-control-feedback" *ngIf="Policlinic.errors && (Policlinic.dirty || Policlinic.touched)">
                                <p *ngIf="Policlinic.errors && Policlinic.errors.required">Policlinic is required</p>
                            </div>
                        </div>
                    </div>
                    <form class="row input-item">
                        <div class="form-group">
                            <label>Birth Date</label>
                            <div class="row input-group">
                                <input class="form-control" placeholder="yyyy-mm-dd" name="d2" #c2="ngModel" [(ngModel)]="selectedBirthDate" ngbDatepicker
                                    #d2="ngbDatepicker">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" (click)="d2.toggle()" type="button">
                                        <i class="fa fa-calendar-alt" style="width: 1.2rem; height: 1rem; cursor: pointer;"></i> 
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <button type="button" (click)="editPatient()" class="row input-item btn btn-outline-primary btn-menu">SAVE CHANGES</button>
                </div>
            </div>

        </form>
    </div>
    <div class="modal-footer">
    </div>
</ng-template>
<div class="row">
    <div *ngFor="let patient of patients" class="photo img-thumbnail">
        <table class="table-striped table-bordered">
            <tr>
                <td>
                    Patient
                </td>
                <td>
                    {{patient.FirstName}} {{patient.LastName}}
                </td>
            </tr>
            <tr>
                <td>
                    Phone
                </td>
                <td>
                    {{patient.Phone }}
                </td>
            </tr>
            <tr>
                <td>
                    Email
                </td>
                <td>
                    {{patient.Email }}
                </td>
            </tr>
        </table>
        <div class="col-xs-6 col-lg-4">
            <button class="btn btn-outline-primary mb-2 mr-2" (click)="openLg(content, patient.Id)">
                <i class="fa fa-edit"></i>
            </button>
        </div>
    </div>
</div>