.image {
    width: 100%;
    height: 100%;
}

.image-original {
    margin: auto;
    max-height: 700px;
    max-width: 100%;
}

.album, .photo {
    max-width: 90%;
    margin: 10px auto;
}

.photo-frame-bg {
    height: 250px;
    background: #eee;
}

.photo-frame {
    height: 300px;
}

.album-frame {
    height: 250px;
    background: #eee;
}

.photo-footer {
    height: 70px;
    background: #eee;
}

.album-footer {
    height: 50px;
    background: #eee;
}

.page-header {
    padding-bottom: 9px;
    margin: 20px 0 2px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

#photoHeader, #albumHeader {
    margin: 15px;
}

.album-description {
    padding-bottom: 9px;
    margin: 40px 0 2px;
    text-align: center;
}

.photo-name {
    text-transform: uppercase;
    margin: 0 0 5px 0;
}

.album-name {
    text-transform: uppercase;
}

.form-menu {
    margin: 20px;
}

.btn-menu {
    margin-left: 5px;
}

.selected i {
    color: blue;
}

i {
    color: black;
}

.liked i {
    color: green;
}

.disliked i {
    color: red;
}

.disabled i {
    color: gray;
}

.photo-date {
    font-size: 12px;
    text-align: right;
    padding: 0 5px;
}

.selected-icon {
    cursor: pointer;
}

    .selected-icon.select {
        cursor: pointer;
        float: right;
        padding: 0 5px;
        visibility: hidden;
    }

.selectable .selected-icon.select {
    cursor: pointer;
    float: right;
    padding: 0 5px;
    visibility: visible;
}

.selected-icon.like, .selected-icon.dislike {
    cursor: pointer;
    color: gray;
    float: left;
    padding: 0 5px;
}

.selectable .selected-icon.like, .selectable .selected-icon.dislike {
    cursor: pointer;
    color: black;
    float: left;
    padding: 0 5px;
}

.img-container {
    margin: 10px 0;
    max-width: 40%;
    max-height: 40%;
}

.table-container {
    max-width: 50%;
    max-height: 40%;
}

.description {
    margin: 0;
}

.loader {
    border: 10px solid #ccc;
    border-radius: 50%;
    border-top: 10px solid #3498db;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    -moz-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin: 0 auto;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(0deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
