@using Microsoft.AspNet.Identity

<form id="formAlbumAdd">
    <div id="albumEditForm" class="row"></div>
    <div id="content" class="row"></div>
    <div id="spinner" class="loader"></div>
</form>

<script>
    $(function() {
        $.addAlbum("@User.Identity.GetUserId()");
    })
</script>
