@using PhotoManager.Common
@{
    ViewBag.Title = "Album";
}
<div id="albumHeader"></div>

@Html.Partial("Partial/Menu")

<div id="content" class="row"></div>
<div id="spinner" class="loader"></div>

<script>
    $.loadPhotoAlbum("@Constants.PhotoAlbumTemplate","/api/albums/" + @ViewBag.Id);
</script>