@using Microsoft.AspNet.Identity
@model PhotoManager.DAL.ProjectionModels.AlbumSearchModel
@{
    ViewBag.Title = "Album";
}
<div id="albumHeader"></div>
<div class="form-menu">
    <button class="btn btn-menu btn-get-link">Get Link</button>
    <label id="albumLink"></label>
</div>

@Html.Partial("Partial/Search")
@Html.Partial("Partial/Menu", "photo")

<div id="content" class="row"></div>
<div id="spinner" class="loader"></div>

<script>
    $(function() {
        $.loadPhotoAlbum("@Model.AlbumUrl", "@User.Identity.GetUserId()");
    });
</script>