@model PhotoManager.DAL.ProjectionModels.AlbumSearchModel
@{
    ViewBag.Title = "Album";
}
<div id="albumHeader"></div>
<div class="form-menu">
    <button class="btn btn-menu btn-get-link">Get Link</button>
    <label id="albumLink"></label>
</div>

@Html.Partial("Partial/Search")
@Html.Partial("Partial/Menu", "photo")

<div id="counter"></div>
<div id="content" class="row"></div>
<div id="spinner" class="loader"></div>

@section Scripts {
    @Scripts.Render("~/bundles/Album/Index")
    <script>
        $(function() {
            $.loadPhotoAlbum("@Model.AlbumUrl");
        });
    </script>
}