@model int
@using PhotoManager.Common
@{
    ViewBag.Title = "Album";
}
<div id="albumHeader"></div>
@Html.Partial("Partial/Search")
@Html.Partial("Partial/Menu")

<div id="content" class="row"></div>
<div id="spinner" class="loader"></div>

<script>
    $(function() {
        $.loadPhotoAlbum("@Constants.PhotoAlbumTemplate", "/api/albums/"+@Model);
    });
</script>