@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Album";
}
<div id="albumHeader"></div>
@Html.Partial("Partial/Search")
<div id="menu" class="form-menu" data-item="album">
    <button class="btn btn-success btn-menu btn-add">ADD</button>
    <button class="btn btn-warning btn-menu btn-edit">EDIT</button>
    <button class="btn btn-danger btn-menu btn-remove-confirm" data-toggle="modal" data-target="#exampleModal">REMOVE</button>
</div>

<div id="content" class="row"></div>
<div id="spinner" class="loader"></div>

<script>
    $(function() {
        $.loadAlbumsManage("@User.Identity.GetUserId()");
    });
</script>