@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Album";
}
<div id="albumHeader"></div>
@Html.Partial("Partial/Search")
@Html.Partial("Partial/Menu", "album")

<div id="content" class="row"></div>
<div id="spinner" class="loader"></div>

<script>
    $(function() {
        $.loadAlbumsManage("@User.Identity.GetUserId()");
    });
</script>