@using CashMachine.ViewModels
@model string
<div>
    @{
        for (var i = 1; i < 8; i += 3)
        {
            @Html.Partial("Numpad/_NumRow", new NumRowViewModel { DisplayId = Model, RowId = i })
        }
    }
    @Html.Partial("Numpad/_NumRow", new NumRowViewModel { DisplayId = Model, RowId = 0 })
</div>