@using CashMachine.Common
@model CashMachine.ViewModels.NumDisplayViewModel
@Html.TextBox(Model.Id, null, new { @class = "num-display form-control card-num", placeholder = Model.Mask, autocomplete = "off", autofocus = "true", pattern = ".{19,}", required = "" })
<div class="invalid-feedback">
    @Resources.CardNumIsInvalid
</div>