<script id="photoAlbumTemplate" type="text/html">
    {{#photos}}
    <div class="col-lg-4 text-center">
        <div class="photo img-thumbnail">
            <a class="photo-frame-bg d-flex" href="/photos/properties/{{Id}}">
                <img src={{ImageUrl}} class="image" />
            </a>
            <div class="photo-footer" data-photo-id="{{Id}}">
                <div class="description">
                    <div>
                        <div class="photo-name">
                            {{Name}}
                        </div>
                        <div class="photo-date">
                            {{CreationDate}}
                        </div>
                    </div>
                    <div class="selected-icon select" data-photo-id="{{Id}}">
                        <i class="fa fa-check"></i>
                    </div>
                    <div class="selected-icon like disabled">
                        <i class="fa fa-thumbs-o-up"></i>
                        <label id="likesCount">{{Likes}}</label>
                    </div>
                    <div class="selected-icon dislike disabled">
                        <i class="fa fa-thumbs-o-down"></i>
                        <label id="dislikesCount">{{Dislikes}}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/photos}}
</script>

<script id="photoAlbumEmptyTemplate" type="text/html">
    <div class="album-description form-menu form-group">
        <h4>No photos were found</h4>
    </div>
</script>