<div class=doctor-profile>
  <img src="http://localhost:55434/api/images/{{doctor.ImageId}}">
  <table class="table table-bordered table-striped doctor-information">
    <tr>
      <td>Doctor</td>
      <td>{{ doctor.FirstName}} {{doctor.LastName}}</td>
    </tr>
    <tr>
      <td>Department</td>
      <td>{{doctor.Department }}</td>
    </tr>
  </table>
  <button type="button" (click)="navigate(doctor.Id)" class="btn btn-menu btn-outline-primary">
    <i class="fa fa-edit"></i>EDIT</button>
</div>