body {
    background-color: #eee;
}

.form-cache-machine {
    max-width: 40%;
    padding: 15px;
    margin: 0 auto;
}

    .form-cache-machine .form-control {
        position: relative;
        height: auto;
        padding: 15px;
        font-size: 18px;
    }

.container .num-row {
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center
}

.numpad {
    max-width: 60%;
    margin: 10px auto;
}

.btn-menu {
    max-width: 60%;
    margin: 0 auto;
}

.btn-num, .btn-clear {
    width: 100%;
}

.num-display {
    max-width: 100%;
    margin: 0 auto;
}

.page-header {
    padding-bottom: 9px;
    margin: 40px 0 2px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}
